/* Mobile styles for max 768px */
@media screen and (min-width: 375px) and (max-width: 767px) {
    /* Your mobile styles go here */




    /* Vegetables */


    #vegetables {
        font-size: 14px;
    }
    .vegetables-container {
        display: flex;
        flex-direction: column;
        background-color: var(--bg2-color);
        padding: 80px 20px;
    }
    .vegetables-cards-list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 20px;
        max-width: 334px;
    }
    .vegetables-cards-list-item {
        background-color: #fbfbfb;
        border-radius: 40px;
        padding: 32px 26px;
    }
    .vegetables-h {
        font-size: 48px;
        line-height: 50px;
    }
    .vegetables-p {
        font-size: 14px;
        line-height: 18px;
    }

    
    
    /* Review section */
    .review-container {
        align-items: flex-start;
        margin: 0 25px;
    }
    .review-title-list {
        gap: 20px;
    }
    .review-cards {
        gap: 25px;
        overflow: hidden;
    }
    .review-description {
        margin-bottom: 40px;
    }

    /* How it works section */
       .section-howitworks {
        display: flex;
        flex-direction: column;
        width: 375px;
        height: 1184px;
        top: 812px;
        gap: 0px;
        opacity: 0px;
       
    }
    .section-image{
        width: 375px;
        height: 530px;
        padding: 40px 20px 40px 20px;
        gap: 10px;
        opacity: 0px;
    }
    .section-image img{
        width: 335px;
        height: 450px;
        gap: 0px;
        border-radius: 30px;
        opacity: 0px;
    }
    .section-how.it-order{
        width: 375px;
        height: 654px;
        padding: 80px 20px 80px 20px;
        gap: 40px;
        opacity: 0px;
    }
    .text-head-paragraph{
        width: 335px;
        height: 186px;
        gap: 20px;
        opacity: 0px;
    }
    .text-head-paragraph h1{
        width: 335px;
        height: 112px;
        gap: 0px;
        opacity: 0px;
        font-family: "Inter Tight";
        font-size: 28px;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: -0.015em;
        text-align: left;
    }
    .text-head-paragraph span{
        font-family: "Inter Tight";
        font-size: 28px;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: -0.015em;
        text-align: left;
    }
    .text-head-paragraph p{
        width: 335px;
        height: 54px;
        gap: 0px;
        opacity: 0px;
        font-family: "Inter Tight";
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
        text-align: left;
    }
    .steps{
    width: 335px;
    height: 268px;
    gap: 20px;
    opacity: 0px;
    }
    

}
/* EOF */
