
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.button-container {
    text-align: center;
}

.btn {
    display: block;
    margin: 10px 0;
    padding: 10px 0;
    width: 123px; 
    height: 44px;
    background-color: #8B2942;
    border: 2px solid white;
    color: white;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    text-align: center;
    line-height: 24px; /* Butonun yüksekliği ile uyumlu */
}

.btn:hover {
    background-color: white;
    color: #8B2942;
}
