    <!-- Discount Section -->
    <section id="discount">
        <!-- Content for "Discount" section here -->
        <div class="text-box">
            <div class="text-content">
                <span class="discount">DISCOUNT UP TO 40%!</span>
                <span class="taste"> TASTE</span>
            </div>
            <div class="tagline">
                <div class="line2">THE VITAMINS AND KEEP</div>
                <div class="line3">YOUR HEALTH</div>
            </div>

            <!-- responsive menü -->

            <!-- Tablet metni -->
            <div class="tablet-content">
                <div class="tablet-line1">DISCOUNT UP TO 40%!</div>
                <div class="tablet-line2">TASTE THE VITAMINS</div>
                <div class="tablet-line3">AND KEEP YOUR</div>
                <div class="tablet-line4">HEALTH</div>
            </div>
            <!-- Mobil metni -->
            <div class="mobile-content">
                <div class="mobile-line1">DISCOUNT UP</div>
                <div class="mobile-line2">TO 40%!</div>
                <div class="mobile-line3">TASTE THE</div>
                <div class="mobile-line4">VITAMINS AND</div>
                <div class="mobile-line5">KEEP YOUR</div>
                <div class="mobile-line6">HEALTH</div>
            </div>

        </div>
    </section>