 <!-- Order Section -->
 <section id="order">
    <!-- Content for "Order" section here -->
    <div class="order-box">
        <div class="order-first-section">

            <div class="order-title-text">
                <h2 class="order-title">Fresh <span class="order-title-span">Harvest</span> Box has got you covered
                </h2>
                <p class="order-text">Our boxes are packed with delicious, nutritious vegetables, perfect for anyone
                    looking to eat healthier or support local farmers. Order your box today and start enjoying the
                    best that nature has to offer!</p>
            </div>
        </div>


        <div class="order-form-social-box">
            <div class="order-form">
              <div class="order-form-box">   
                <div class="order-form-text-container">
                <div class="order-form-title-text">  
                    <p class="order-form-text">Ordering <span class="order-form-span-from-us">from us</span> is
                        quick and easy! Fill out <span class="order-form-one-span-the-form">the form</span> below
                        and we will contact you !</p>
                </div>
            </div>
                    <form>
                        <div class="order-form-input-group">
                            <div class="order-input-group">
                                <input type="text" name="text" class="order-form-input-text" placeholder=""
                                    required>
                                <label class="order-form-input-label">Full Name</label>
                            </div>

                            <div class="order-input-group">
                                <input type="email" class="order-form-input-email" placeholder="" required>
                                <label class="order-form-input-label">Email</label>
                                <p class="text-invalid">Invalid email, try again</p>
                            </div>

                            <div class="order-input-group">
                                <textarea class="order-form-textarea" placeholder=""></textarea>
                                <label class="order-form-input-label-text-area">Comment</label>
                            </div>
                        </div>

                        <button type="submit" class="order-form-button">SEND</button>

                    </form>


                </div>
            </div>

            <div class="order-social-box">
                <div class="order-social">

                    <div class="order-social-img-container"></div>

                    <img class="order-social-img" src="./images/order-social-box-final.webp" width="427"
                        height="273" alt="unrecognizable-sportswoman-using-lemon-while-making-fruit-smoothie-home">

                </div>


                <div class="order-social-text">
                    <p class="order-social-p">Follow us on our social networks:</p>
                    <ul class="order-social-ul">
                        <li>
                            <p class="order-social-slash"><span><a href="https://www.instagram.com/goit.turkiye/"
                                        class="order-social-link" target="_blank">instagram</a></span>/</p>
                        </li>
                        <li>
                            <p class="order-social-slash"><span><a
                                        href="https://www.facebook.com/people/GOIT-T%C3%BCrkiye/61558036560161/"
                                        class="order-social-link" target="_blank">facebook</a></span>/</p>
                        </li>
                        <li>
                            <a href="https://m.youtube.com/@GoITTurkey" class="order-social-link"
                                target="_blank">youtube</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    
    
</section>