    <!-- Vegetables Section -->
    <section id="vegetables">
        <div class="vegetables-container">
            <div class="vegetables-block">
                <h2 class="vegetables-h">Organic <span class="vegetables-h-span">vegetables</span></h2>
                <p class="vegetables-p">Our organic vegetables are hand-picked from local farms and delivered
                    straight
                    to your doorstep, ensuring that you get
                    the freshest and most nutritious produce possible.</p>
            </div>
            <div class="vegetables-cards">
                <ul class="vegetables-cards-list">
                    <li class="vegetables-cards-list-item">
                        <div class="vegetables-cards-p">
                            <p class="vegetable-name">eggplant</p>
                            <p class="vegetable-price">60 USD/KG</p>
                        </div>
                        <img src="./images/eggplant.webp" alt="eggplant" width="282" height="243">
                    </li>
                    <li class="vegetables-cards-list-item">
                        <div class="vegetables-cards-p">
                            <p class="vegetable-name">leek</p>
                            <p class="vegetable-price">50 USD/KG</p>
                        </div>
                        <img src="./images/leek.webp" alt="eggplant">
                    </li>
                    <li class="vegetables-cards-list-item">
                        <div class="vegetables-cards-p">
                            <p class="vegetable-name">mushrooms</p>
                            <p class="vegetable-price">40 USD/KG</p>
                        </div><img src="./images/mushroom.webp" alt="eggplant">
                    </li>
                    <li class="vegetables-cards-list-item">
                        <div class="vegetables-cards-p">
                            <p class="vegetable-name">corn</p>
                            <p class="vegetable-price">60 USD/KG</p>
                        </div><img src="./images/corn.webp" alt="eggplant">
                    </li>
                    <li class="vegetables-cards-list-item">
                        <div class="vegetables-cards-p">
                            <p class="vegetable-name">sweet potatoes</p>
                            <p class="vegetable-price">50 USD/KG</p>
                        </div><img src="./images/sweet_potato.webp" alt="eggplant">
                    </li>
                    <li class="vegetables-cards-list-item">
                        <div class="vegetables-cards-p">
                            <p class="vegetable-name">carrot</p>
                            <p class="vegetable-price">40 USD/KG</p>
                        </div><img src="./images/carrot.webp" alt="eggplant">
                    </li>
                </ul>
            </div>
        </div>
    </section>