/* Discount */
/* Author: Pinar */
.discount-banner {
    display: none;
  }
#discount {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    background: #fbfbfb;
    
  }
.discount-span {
    display: inline-flex;
    font-family: "Inter Tight", sans-serif;
    text-transform: uppercase;
    color: #fbfbfb;
    border-radius: 12px;
    background: #576f35;
    }
.discount-container {
  max-width: 1280px;
}
.discount-p {
    font-family: "Inter Tight", sans-serif;
    text-transform: uppercase;
    color: #141414;
  }

@media screen and (min-width: 375px) {
  #discount {
    padding: 80px 10px;
  }
  
  .discount-span {
    line-height: 50px;
    padding-left:10px;
    margin-right: 5px;
    }
  .discount-p {
    font-weight: 600;
    font-size: 48px;
  }
}
@media screen and (min-width: 768px) {
  #discount {
    padding: 100px 16px;
  }
  
  .discount-span {
    line-height: 70px;
    padding:0 10px;
    margin-right: 5px;
    }
  .discount-p {
    font-weight: 600;
    font-size: 64px;
  }
}
@media screen and (min-width: 1280px) {
  #discount {
    padding: 100px;
  }
  
  .discount-span {
    line-height: 80px;
    padding-left:10px;
    margin-right: 5px;
    }
  .discount-p {
    font-weight: 600;
    font-size: 76px;
  }
}