/* Hero Section */
/* Author: Razan */

/* Bu dosya geçiçi olarak yazılmıştır. */
/* buradan sonrası daha sonra silinecektir */
#hero .hero-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
    background-color: var(--bg1-color);
    color: var(--white-color);
  }
  .hero-content-capsule {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1280px;
    width: 100%;
  }
  .hero-content-capsule .hero-text-content {
    padding-top: 150px;
    padding-left: 90px;
    padding-right: 100px;
    width: 50%;
  }
  .hero-image-content {
    width: 50%;
  }