/* Hero Section */
/* Author: Razan */

/* Bu dosya geçiçi olarak yazılmıştır. */
/* buradan sonrası daha sonra silinecektir */
.hero-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
    padding: 80px 20px;
    background-color: var(--bg1-color);
    color: var(--white-color);
  }
  .hero-content-capsule {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1280px;
    width: 100%;

  }