/* Reviews */
/* Author: Onur */
.review-container {
    background-color: var(--white-color);
    color: var(--primary-color);
    text-align: center;
    padding: 100px;
    display: flex;
    flex-direction: column;
    transition: all 1 ease-in-out;
}
.review-section-title {
    text-transform: uppercase;
    text-align: left;
    font-size: 64px;
    font-weight: 600;
    line-height: 64px;
    letter-spacing: -0.015em;
}
.review-title-list {
    display: flex;
    flex-direction: column;
    gap: 25px;
    transition: all 1 ease-in-out;
}
.title-color-span {
  color: var(--bg1-color);
  text-transform: uppercase;
}
.review-description {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
}
.review-cards-container {
    display: flex;
}
.review-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--white-color);
    transition: all 1s ease-in-out;
}

.review-card-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #7a31454d;
    background: #fbfbfb;
    padding: 20px;
    border-radius: 24px;
    opacity: 0px;
    transition: all 1 ease-in-out;
}
.review-card {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
}
.review-card-image {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    margin-bottom: 20px;
}
.review-card-customer-name {
    color: var(--primary-color);
    text-transform: capitalize;
}
.review-card-review {
    color: #14141466;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 22.4px;
    gap: 20px;
    text-align: center;
}